.brother{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 32px 0;
  border: #333856 solid 4px;
}

.brotherGrid{
  margin-bottom: 64px;
  margin-top: 64px;
}

.buttons{
  button{
    margin-right: 32px;
    margin-top: 32px;
  }
}

.brotherImage{
  margin-bottom: 32px;
}

.moreButton{
  margin-bottom: 32px;
}

.popupImage{
  height: 300px;
  margin-left: 32px;
  margin-top: 32px;
}

.brotherPopup{
  margin:0 auto;
  margin-top: 32px;
}
.quote{
  margin: 32px;
}
