.brother{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.brotherImage{
  margin-bottom: 32px;
  width: 80%;
}

.popupButton{
  position: absolute;
  width: 25%;
  height: 65%;
  @media (max-width:600px){
    width: 40%;
    height: 60%;
  }
}


.popupImage{
  height: 300px;
  margin-left: 32px;
  margin-top: 32px;
}

.brotherPopup{
  margin:0 auto;
  margin-top: 32px;
}
.quote{
  margin: 32px;
}
