.brother{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.brotherGrid{
  margin-bottom: 64px;
  margin-top: 64px;
}

.buttons{
  button{
    margin-right: 32px;
    margin-top: 32px;
  }
}

.brotherImage{
  margin-bottom: 32px;
}

.popupButton{
  width: 110%;
  height: 420px;
  margin-top: -420px;
}

.popupImage{
  height: 300px;
  margin-left: 32px;
  margin-top: 32px;
}

.brotherPopup{
  margin:0 auto;
  margin-top: 32px;
}
.quote{
  margin: 32px;
}
